Repository finos/common-domain-model, pull requests merged in 2023-08, with the labels that each got.

#2294 STORY-2582: A DRR user can access the FpML 5.13 WD2 schemas distribution in Rosetta
  RELEASE.md
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-asset-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-bond-option-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-business-events-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-cd-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-clearing-processes-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-com-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-confirmation-processes-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-correlation-swaps-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-credit-event-notification-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-dividend-swaps-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-doc-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-enum-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-eq-shared-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-eqd-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-fx-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-fx-accruals-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-fx-targets-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-generic-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-ird-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-loan-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-main-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-mktenv-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-msg-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-option-shared-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-reg-reporting-shared-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-repo-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-return-swaps-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-riskdef-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-sec-lending-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-shared-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-standard-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-valuation-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-variance-swaps-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-volatility-swaps-5-13.xsd
  rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/xmldsig-core-schema.xsd
Labels: Complexity: Small/Bug/Mapping, Category: Technical/Patch, Target: Development, Criticality: Medium/Low

#2298 STORY-2234: A DRR user can meet reporting requirements for Settlement Currency and Settlement Type for Commodity products
  RELEASE.md
  pom.xml
  rosetta-source/src/main/java/cdm/product/common/settlement/processor/SettlementTypeHelper.java
  rosetta-source/src/main/java/cdm/product/common/settlement/processor/SettlementTypeMappingProcessor.java
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/incomplete-products/commodity-derivatives/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/products/commodity/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-12/products/commodity/expectations.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex10-physical-oil-pipeline-crude-wti-floating-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex11-physical-oil-pipeline-heating-oil-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex12-physical-gas-europe-zbt-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex13-physical-gas-us-tw-west-texas-pool-floating-price-4-days.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex14-physical-gas-europe-ttf-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex15-physical-oil-pipeline-crude-wcs-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex16-physical-power-us-eei-floating-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex17-physical-power-uk-gtma-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex18-physical-power-us-eei-fixed-price-shaped-volume.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex20-physical-coal-us-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex21-physical-power-us-eei-fixed-price-shaped-volume-and-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex22-physical-gas-option-multiple-expiration.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex23-physical-power-option-daily-expiration-efet.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex24-weather-index-swap.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex29-physical-eu-emissions-option.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex30-physical-eu-emissions-forward.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex31-physical-us-emissions-option.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex32-CPD-weather-index-option.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex34-gas-put-option-european-floating-strike.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex35-call-option-gas-power-heat-rate-daily.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex36-gas-call-option-european-spread-negative-premium-floating-strike.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex47-physical-eu-emissions-option-pred-clearing.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/products/commodity/com-ex01-gas-swap-daily-delivery-prices-last.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/products/commodity/com-ex02-gas-swap-prices-first-day.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/products/commodity/com-ex03-gas-swap-prices-last-three-days.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/products/commodity/com-ex04-electricity-swap-hourly-off-peak.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/products/commodity/com-ex05-gas-v-electricity-spark-spread.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/products/commodity/com-ex06-gas-call-option.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/products/commodity/com-ex07-gas-put-option.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/products/commodity/com-ex08-oil-call-option-strip.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/products/commodity/com-ex09-oil-put-option-american.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/products/commodity/com-ex27-wti-put-option-asian-listedoption-date.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/products/commodity/com-ex28-gas-swap-daily-delivery-prices-option-last.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/products/commodity/com-ex41-oil-asian-barrier-option-strip.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/products/commodity/com-ex46-simple-financial-put-option.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-12/products/commodity/com-ex1-gas-swap-daily-delivery-prices-last.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-12/products/commodity/com-ex5-gas-v-electricity-spark-spread.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-12/products/commodity/com-ex8-oil-call-option-strip.json
  rosetta-source/src/main/rosetta/mapping-fpml-confirmation-tradestate-synonym.rosetta
Labels: Complexity: Small/Bug/Mapping, Target: Development, Criticality: Medium/Low, Category: Modelling

#2207 Add TripartyAgentEnum to PartyRoleEnum
  rosetta-source/src/main/rosetta/base-staticdata-party-enum.rosetta
Labels: Complexity: Small/Bug/Mapping, Status: needs release note, Criticality: Medium/Low, Target: Production, Category: Modelling

#2210 Add tradeDateTime to Trade type and Execution Instruction
  documentation/source/event-model.rst
  rosetta-source/src/main/rosetta/event-common-type.rosetta
Labels: Complexity: Small/Bug/Mapping, Status: needs release note, Criticality: High, Target: Production, Category: Modelling

#2214 Add settlement party and role to settlement base
  rosetta-source/src/main/rosetta/product-common-settlement-type.rosetta
Labels: Complexity: Minor Change, Criticality: High, Target: Development, Category: Modelling

#2319 Fix contents of release note docs page
  docs/contribution.md
Labels: Complexity: Small/Bug/Mapping, Target: Development, Category: Documentation, Criticality: Medium/Low

#2321 Update product-model.md
  docs/product-model.md
Labels: Complexity: Small/Bug/Mapping, Target: Development, Category: Documentation, Criticality: Medium/Low, Target: Production

#2326 Revert "Add settlement party and role to settlement base"
  rosetta-source/src/main/rosetta/product-common-settlement-type.rosetta
Labels: Complexity: Minor Change, Target: Development, Criticality: Medium/Low, Category: Modelling

#2314 Benjamin AUBRY InflationSwaps_FinalPrincipalExchangeCalculation
  rosetta-source/src/main/rosetta/product-asset-enum.rosetta
  rosetta-source/src/main/rosetta/product-asset-type.rosetta
Labels: Complexity: Minor Change, Rosetta, Target: Development, Category: Modelling

#2346 Re-org package names in the test module
  tests/src/test/java/com/regnosys/functions/FunctionTest.java
  tests/src/test/java/com/regnosys/ingest/IngestionEnvUtil.java
  tests/src/test/java/com/regnosys/ingest/cme/CMEClearedConfirmTest.java
  tests/src/test/java/com/regnosys/ingest/cme/CMESubmissionTest.java
  tests/src/test/java/com/regnosys/ingest/dtcc/DtccIngestion11ServiceTest.java
  tests/src/test/java/com/regnosys/ingest/dtcc/DtccIngestion9ServiceTest.java
  tests/src/test/java/com/regnosys/ingest/fis/FisIngestionTest.java
  tests/src/test/java/com/regnosys/ingest/fpml/Fpml510IncompleteProcessesIngestionServiceTest.java
  tests/src/test/java/com/regnosys/ingest/fpml/Fpml510IncompleteProductIngestionServiceTest.java
  tests/src/test/java/com/regnosys/ingest/fpml/Fpml510ProcessesIngestionServiceTest.java
  tests/src/test/java/com/regnosys/ingest/fpml/Fpml510ProductIngestionServiceTest.java
  tests/src/test/java/com/regnosys/ingest/fpml/Fpml512ProductIngestionServiceTest.java
  tests/src/test/java/com/regnosys/ingest/fpml/InvalidProductTest.java
  tests/src/test/java/com/regnosys/ingest/fpml/NativeCdmEventsIngestionServiceTest.java
  tests/src/test/java/com/regnosys/ingest/ore/OreTradeTest.java
  tests/src/test/java/com/regnosys/schemaimport/SchemeImporterTest.java
  tests/src/test/java/com/regnosys/template/GenerateTemplateExampleJsonWriter.java
  tests/src/test/java/com/regnosys/util/UnusedModelElementFinderTest.java
Labels: Complexity: Small/Bug/Mapping, Category: Technical/Patch, Target: Development, Criticality: Medium/Low

#2101 icma-phase2-documentation-update
  documentation/index.rst
  documentation/source/code-snippets/fixed-term-fixed-rate-repo-product.json
  documentation/source/product-model.rst
  documentation/source/repurchase-agreement-representation.rst
Labels: Complexity: Small/Bug/Mapping, Category: Documentation, Criticality: Medium/Low, Target: Production

#2349 Fix code snippet
  documentation/source/product-model.rst
Labels: Complexity: Small/Bug/Mapping, Target: Development, Category: Documentation, Criticality: Medium/Low

#2331 Enhanced mapping for submittedForClearing feature
  RELEASE.md
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/Basis-ex01-LIBOR-vs-SOFR-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/FRA-ex02-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex02-Fixed-Float-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex03-Fixed-Float-with-Amortizing-Schedule-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex04-Fixed-Float-with-Compounding-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex05-Fixed-Float-with-Long-Stub-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex08-Fixed-Float-Zero-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex09-OIS-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex10-OIS-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex11-OIS-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/Swaption-ex02-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/fpml-5-10/processes/msg-new-trade-CFTC-clearing-func-output.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/Basis-ex01-LIBOR-vs-SOFR.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/FRA-ex02.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/IRS-ex02-Fixed-Float.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/IRS-ex03-Fixed-Float-with-Amortizing-Schedule.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/IRS-ex04-Fixed-Float-with-Compounding.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/IRS-ex05-Fixed-Float-with-Long-Stub.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/IRS-ex08-Fixed-Float-Zero.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/IRS-ex09-OIS.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/IRS-ex10-OIS.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/IRS-ex11-OIS.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/Swaption-ex02.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/processes/msg-new-trade-CFTC-clearing.json
  rosetta-source/src/main/rosetta/mapping-cme-synonym.rosetta
  rosetta-source/src/main/rosetta/mapping-fpml-confirmation-workflowstep-synonym.rosetta
Labels: Complexity: Small/Bug/Mapping, Target: Development, Criticality: Medium/Low, Category: Modelling

#2332 Ankit Kulkarni Add spreadCalculationMethodEnum
  rosetta-source/src/main/rosetta/product-asset-enum.rosetta
  rosetta-source/src/main/rosetta/product-asset-type.rosetta
Labels: Rosetta, Target: Development, Criticality: Medium/Low, Category: Modelling

#2356 update expectation
  rosetta-source/src/main/resources/mapping-analytics/fpml-5-10-incomplete-products-credit-derivatives-failed-mappings-report.csv
  rosetta-source/src/main/resources/mapping-analytics/fpml-5-10-invalid-products-failed-mappings-report.csv
  rosetta-source/src/main/resources/mapping-analytics/fpml-5-10-products-dividend-swaps-failed-mappings-report.csv
Labels: Complexity: Small/Bug/Mapping, Category: Technical/Patch, Criticality: Medium/Low, Target: Production

#2354 Manuel Carrera Commodity spread price type prod with Updated Expectations
  RELEASE.md
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex13-physical-gas-us-tw-west-texas-pool-floating-price-4-days.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex16-physical-power-us-eei-floating-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/products/commodity/com-ex05-gas-v-electricity-spark-spread.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-12/products/commodity/com-ex5-gas-v-electricity-spark-spread.json
  rosetta-source/src/main/rosetta/mapping-fpml-confirmation-tradestate-synonym.rosetta
Labels: Complexity: Small/Bug/Mapping, Criticality: Medium/Low, Target: Production, Category: Modelling

#2352 Manuel Carrera Price type for Commodity spread with updated expectations
  RELEASE.md
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex13-physical-gas-us-tw-west-texas-pool-floating-price-4-days.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex16-physical-power-us-eei-floating-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/products/commodity/com-ex05-gas-v-electricity-spark-spread.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-12/products/commodity/com-ex5-gas-v-electricity-spark-spread.json
  rosetta-source/src/main/rosetta/mapping-fpml-confirmation-tradestate-synonym.rosetta
Labels: Complexity: Small/Bug/Mapping, Target: Development, Criticality: Medium/Low, Category: Modelling
