Repository finos/common-domain-model, pull requests merged in 2024-05, with the labels that each got.

#2892 [5.x.x] Update Rosetta Common version to 10.17.1
  RELEASE.md
  pom.xml
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/Basis-ex01-LIBOR-vs-SOFR-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/FRA-ex01-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/FRA-ex02-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex01-Fixed-Float-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex02-Fixed-Float-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex03-Fixed-Float-with-Amortizing-Schedule-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex04-Fixed-Float-with-Compounding-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex05-Fixed-Float-with-Long-Stub-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex06-Fixed-Float-Non-Deliverable-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex07-Fixed-Float-Zero-Coupon-BRL-CDI-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex08-Fixed-Float-Zero-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex09-OIS-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex10-OIS-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex11-OIS-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/Swaption-ex01-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/Swaption-ex02-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/Swaption-ex03-Straddle-Physical-Exercise-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/dtcc-11-0/DDL_NewTrade1-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/dtcc-11-0/DDL_NewTrade2-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/dtcc-11-0/DDL_NewTrade3-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/dtcc-11-0/DDL_NewTrade4-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/dtcc-11-0/DDL_NewTrade5-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/dtcc-11-0/DDL_NewTrade6-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/fpml-5-10/processes/msg-ex51-execution-advice-trade-initiation-C01-00-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/fpml-5-10/processes/msg-ex52-execution-advice-trade-partial-novation-C02-00-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/fpml-5-10/processes/msg-ex53-execution-advice-trade-partial-novation-correction-C02-10-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/fpml-5-10/processes/msg-ex58-execution-advice-trade-initiation-F01-00-func-output.json
  rosetta-source/src/main/rosetta/base-staticdata-asset-rates-enum.rosetta
  rosetta-source/src/main/rosetta/mapping-fpml-confirmation-tradestate-synonym.rosetta
Labels: Status: ready for release, Complexity: Minor Change, Category: Technical/Patch, Target: Production

#2893 [6 Dev] Update Rosetta Common version to 10.17.1
  RELEASE.md
  pom.xml
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/Basis-ex01-LIBOR-vs-SOFR-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/FRA-ex01-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/FRA-ex02-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex01-Fixed-Float-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex02-Fixed-Float-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex03-Fixed-Float-with-Amortizing-Schedule-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex04-Fixed-Float-with-Compounding-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex05-Fixed-Float-with-Long-Stub-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex06-Fixed-Float-Non-Deliverable-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex07-Fixed-Float-Zero-Coupon-BRL-CDI-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex08-Fixed-Float-Zero-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex09-OIS-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex10-OIS-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex11-OIS-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/Swaption-ex01-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/Swaption-ex02-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/Swaption-ex03-Straddle-Physical-Exercise-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/dtcc-11-0/DDL_NewTrade1-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/dtcc-11-0/DDL_NewTrade2-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/dtcc-11-0/DDL_NewTrade3-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/dtcc-11-0/DDL_NewTrade4-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/dtcc-11-0/DDL_NewTrade5-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/dtcc-11-0/DDL_NewTrade6-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/fpml-5-10/processes/msg-ex51-execution-advice-trade-initiation-C01-00-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/fpml-5-10/processes/msg-ex52-execution-advice-trade-partial-novation-C02-00-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/fpml-5-10/processes/msg-ex53-execution-advice-trade-partial-novation-correction-C02-10-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/fpml-5-10/processes/msg-ex58-execution-advice-trade-initiation-F01-00-func-output.json
  rosetta-source/src/main/rosetta/base-staticdata-asset-rates-enum.rosetta
  rosetta-source/src/main/rosetta/mapping-fpml-confirmation-tradestate-synonym.rosetta
Labels: Status: ready for release, Complexity: Minor Change, Category: Technical/Patch, Target: Development

#2896 Back ported MXN_TIIE_ON_OIS_Compound and ZAR_ZARONIA_OIS_Compound enums
  RELEASE.md
  codefresh.yml
  rosetta-source/src/main/rosetta/base-staticdata-asset-rates-enum.rosetta
  scheme-import/src/test/java/com/regnosys/granite/schemaimport/SchemeImporterTest.java
Labels: Complexity: Small/Bug/Mapping, Status: needs release note, Target: Development, Criticality: Medium/Low, Category: Modelling

#2852 [6-dev] Add mapper for Link Id Scheme
  RELEASE.md
  rosetta-source/src/main/java/cdm/base/staticdata/identifier/processor/LinkIdMappingProcessor.java
  rosetta-source/src/main/resources/cdm-sample-files/cme-cleared-confirm-1-17/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-12/processes/custom-basket-linkId-ptrr-comp.xml
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-12/processes/custom-basket-linkId-rtn.xml
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-12/processes/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/Basis-ex01-LIBOR-vs-SOFR-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/FRA-ex01-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/FRA-ex02-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex01-Fixed-Float-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex02-Fixed-Float-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex03-Fixed-Float-with-Amortizing-Schedule-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex04-Fixed-Float-with-Compounding-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex05-Fixed-Float-with-Long-Stub-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex06-Fixed-Float-Non-Deliverable-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex07-Fixed-Float-Zero-Coupon-BRL-CDI-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex08-Fixed-Float-Zero-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex09-OIS-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex10-OIS-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/IRS-ex11-OIS-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/SWAPTION_TERMINATED_DUE_TO_EXERCISE-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/SWAP_CREATED_DUE_TO_EXERCISE-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/Swaption-ex01-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/Swaption-ex02-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/cme-cleared-confirm-1-17/Swaption-ex03-Straddle-Physical-Exercise-func-output.json
  rosetta-source/src/main/resources/mapping-analytics/fpml-5-10-incomplete-products-credit-derivatives-failed-mappings-report.csv
  rosetta-source/src/main/resources/mapping-analytics/fpml-5-10-products-rates-failed-mappings-report.csv
  rosetta-source/src/main/resources/mapping-analytics/fpml-5-12-processes-aggregated-mapping-failure-report.csv
  rosetta-source/src/main/resources/mapping-analytics/fpml-5-12-processes-failed-mappings-report.csv
  rosetta-source/src/main/resources/mapping-analytics/fpml-5-12-products-credit-failed-mappings-report.csv
  rosetta-source/src/main/resources/mapping-analytics/fpml-5-13-processes-execution-advice-failed-mappings-report.csv
  rosetta-source/src/main/resources/mapping-analytics/fpml-5-13-products-credit-derivatives-failed-mappings-report.csv
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/Basis-ex01-LIBOR-vs-SOFR.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/FRA-ex01.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/FRA-ex02.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/IRS-ex01-Fixed-Float.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/IRS-ex02-Fixed-Float.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/IRS-ex03-Fixed-Float-with-Amortizing-Schedule.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/IRS-ex04-Fixed-Float-with-Compounding.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/IRS-ex05-Fixed-Float-with-Long-Stub.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/IRS-ex06-Fixed-Float-Non-Deliverable.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/IRS-ex07-Fixed-Float-Zero-Coupon-BRL-CDI.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/IRS-ex08-Fixed-Float-Zero.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/IRS-ex09-OIS.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/IRS-ex10-OIS.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/IRS-ex11-OIS.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/SWAPTION_TERMINATED_DUE_TO_EXERCISE.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/SWAP_CREATED_DUE_TO_EXERCISE.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/Swaption-ex01.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/Swaption-ex02.json
  rosetta-source/src/main/resources/result-json-files/cme-cleared-confirm-1-17/Swaption-ex03-Straddle-Physical-Exercise.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-12/processes/custom-basket-linkId-ptrr-comp.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-12/processes/custom-basket-linkId-rtn.json
  rosetta-source/src/main/rosetta/mapping-fpml-confirmation-tradestate-synonym.rosetta
  rosetta-source/src/main/rosetta/mapping-fpml-confirmation-workflowstep-synonym.rosetta
  tests/src/test/java/com/regnosys/ingest/fpml/Fpml512ProcessesIngestionServiceTest.java
Labels: Complexity: Small/Bug/Mapping, Target: Development, Criticality: Medium/Low, Category: Modelling

#2917 [6-dev] RoundToPrecision bug fix
  RELEASE.md
  rosetta-source/src/main/java/cdm/base/math/functions/RoundToPrecisionImpl.java
  rosetta-source/src/main/rosetta/base-math-enum.rosetta
  rosetta-source/src/main/rosetta/base-math-func.rosetta
  rosetta-source/src/test/java/cdm/base/math/functions/RoundToPrecisionImplTest.java
  rosetta-source/src/test/java/cdm/product/asset/floatingrate/functions/ApplyFloatingRateProcessingTest.java
Labels: Complexity: Small/Bug/Mapping, Target: Development, Criticality: Medium/Low, Category: Modelling

#2916 [5.x.x] RoundToPrecision bug fix
  RELEASE.md
  rosetta-source/src/main/java/cdm/base/math/functions/RoundToPrecisionImpl.java
  rosetta-source/src/main/rosetta/base-math-enum.rosetta
  rosetta-source/src/main/rosetta/base-math-func.rosetta
  rosetta-source/src/test/java/cdm/base/math/functions/RoundToPrecisionImplTest.java
  rosetta-source/src/test/java/cdm/product/asset/floatingrate/functions/ApplyFloatingRateProcessingTest.java
Labels: Complexity: Small/Bug/Mapping, Criticality: Medium/Low, Target: Production, Category: Modelling

#2914 Roger Guitart AmericanExercise condition update
  rosetta-source/src/main/rosetta/product-template-type.rosetta
Labels: Rosetta

#2871 Payal Khanna Format-6-dev
  rosetta-source/src/main/rosetta/base-datetime-enum.rosetta
  rosetta-source/src/main/rosetta/base-staticdata-asset-common-enum.rosetta
  rosetta-source/src/main/rosetta/event-common-enum.rosetta
  rosetta-source/src/main/rosetta/legaldocumentation-master-enum.rosetta
  rosetta-source/src/main/rosetta/observable-asset-enum.rosetta
  rosetta-source/src/main/rosetta/observable-common-enum.rosetta
  rosetta-source/src/main/rosetta/product-asset-enum.rosetta
  rosetta-source/src/main/rosetta/product-qualification-func.rosetta
Labels: Rosetta

#2939 [5.x.x] Update dependency plugin
  pom.xml
Labels: Complexity: Small/Bug/Mapping, Category: Technical/Patch, Criticality: Medium/Low, Target: Production
