Repository finos/common-domain-model, pull requests merged in 2024-06, with the labels that each got.

#2944 Lionel Smith-Gordon ARTForce-NewDataTypes
  RELEASE.md
  rosetta-source/src/main/rosetta/base-staticdata-asset-common-enum.rosetta
  rosetta-source/src/main/rosetta/base-staticdata-asset-common-func.rosetta
  rosetta-source/src/main/rosetta/base-staticdata-asset-common-type.rosetta
Labels: Rosetta

#2960 Lionel Smith-Gordon STORY-3202 Collateral margin & Rating priority
  RELEASE.md
  docs/eligible-collateral-representation.md
  rosetta-source/src/main/rosetta/product-collateral-enum.rosetta
  rosetta-source/src/main/rosetta/product-collateral-type.rosetta
Labels: Rosetta, Category: Modelling

#2984 [6-dev] Support for mangling reserved Python keywords used in CDM Rune definitions
  RELEASE.md
  cdm-python/test/__init__.py
  cdm-python/test/semantics/test_cardinality.py
  cdm-python/test/semantics/test_conditions.py
  cdm-python/test/semantics/test_if_cond.py
  cdm-python/test/semantics/test_pydantic_simple.py
  cdm-python/test/semantics/test_validation.py
  cdm-python/test/serialization/__init__.py
  cdm-python/test/serialization/cdm_comparison_test.py
  cdm-python/test/serialization/dict_comp.py
  cdm-python/test/serialization/test_trade_state_product.py
  cdm-python/test/test_helpers/__init__.py
  cdm-python/test/test_helpers/config.py
  codefresh.yml
  pom.xml
  rosetta-source/pom.xml
  rosetta-source/src/test/python/semantics/test_local_conditions.py
  rosetta-source/src/test/python/src/com/rosetta/test/model/Foo.py
  rosetta-source/src/test/python/test_class_member_access_operator.py
Labels: Complexity: Minor Change, Category: Technical/Patch, Target: Development, Criticality: Medium/Low

#2986 [5.x.x] Support for mangling reserved Python keywords used in CDM Rune definitions
  RELEASE.md
  cdm-python/test/__init__.py
  cdm-python/test/semantics/test_cardinality.py
  cdm-python/test/semantics/test_conditions.py
  cdm-python/test/semantics/test_if_cond.py
  cdm-python/test/semantics/test_pydantic_simple.py
  cdm-python/test/semantics/test_validation.py
  cdm-python/test/serialization/__init__.py
  cdm-python/test/serialization/cdm_comparison_test.py
  cdm-python/test/serialization/dict_comp.py
  cdm-python/test/serialization/test_trade_state_product.py
  cdm-python/test/test_helpers/__init__.py
  cdm-python/test/test_helpers/config.py
  codefresh.yml
  pom.xml
  rosetta-source/pom.xml
  rosetta-source/src/test/python/semantics/test_local_conditions.py
  rosetta-source/src/test/python/src/com/rosetta/test/model/Foo.py
  rosetta-source/src/test/python/test_class_member_access_operator.py
Labels: Complexity: Minor Change, Category: Technical/Patch, Criticality: Medium/Low, Target: Production

#3019 Payal Khanna fix formatting
  rosetta-source/src/main/rosetta/base-datetime-enum.rosetta
  rosetta-source/src/main/rosetta/base-staticdata-asset-common-enum.rosetta
  rosetta-source/src/main/rosetta/base-staticdata-asset-common-func.rosetta
  rosetta-source/src/main/rosetta/base-staticdata-asset-common-type.rosetta
  rosetta-source/src/main/rosetta/base-staticdata-asset-rates-enum.rosetta
  rosetta-source/src/main/rosetta/event-common-enum.rosetta
  rosetta-source/src/main/rosetta/legaldocumentation-master-enum.rosetta
  rosetta-source/src/main/rosetta/mapping-fpml-confirmation-tradestate-synonym.rosetta
  rosetta-source/src/main/rosetta/observable-asset-enum.rosetta
  rosetta-source/src/main/rosetta/observable-common-enum.rosetta
  rosetta-source/src/main/rosetta/observable-event-type.rosetta
  rosetta-source/src/main/rosetta/product-asset-enum.rosetta
  rosetta-source/src/main/rosetta/product-collateral-enum.rosetta
  rosetta-source/src/main/rosetta/product-collateral-type.rosetta
  rosetta-source/src/main/rosetta/product-common-settlement-type.rosetta
  rosetta-source/src/main/rosetta/product-qualification-func.rosetta
  rosetta-source/src/main/rosetta/product-template-type.rosetta
Labels: Rosetta
