Repository finos/common-domain-model, pull requests merged in 2024-03, with the labels that each got.

#2750 Manuel Carrera CDM Commodity Physical Options prod
  RELEASE.md
  rosetta-source/src/main/rosetta/product-qualification-func.rosetta
Labels: Rosetta

#2748 Eleonora Acuna Added option to existing enum
  RELEASE.md
  rosetta-source/src/main/rosetta/observable-asset-enum.rosetta
Labels: Complexity: Minor Change, Rosetta, Target: Development, Criticality: Medium/Low

#2780 [5.x.x] Update DSL version to 9.7.0
  RELEASE.md
  examples/src/main/java/com/regnosys/cdm/example/Validation.java
  pom.xml
  rosetta-project/pom.xml
  rosetta-source/src/main/resources/cdm-sample-files/dtcc-11-0/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/dtcc-9-0/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/incomplete-processes/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/incomplete-products/commodity-derivatives/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/incomplete-products/equity-options/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/incomplete-products/fx-derivatives/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/incomplete-products/loan/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/invalid-products/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/products/credit/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/products/dividend-swaps/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/products/fx/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/products/repo/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/products/variance-swaps/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-12/products/fx/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-12/products/repo/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/ore-1-0-39/expectations.json
  tests/pom.xml
Labels: Complexity: Small/Bug/Mapping, Category: Technical/Patch, Criticality: Medium/Low, Target: Production

#2783 [6 Dev] Update DSL version to 9.7.0
  RELEASE.md
  examples/src/main/java/com/regnosys/cdm/example/Validation.java
  pom.xml
  rosetta-project/pom.xml
  rosetta-source/src/main/resources/cdm-sample-files/dtcc-11-0/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/dtcc-9-0/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/incomplete-processes/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/incomplete-products/commodity-derivatives/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/incomplete-products/equity-options/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/incomplete-products/fx-derivatives/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/incomplete-products/loan/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/invalid-products/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/products/credit/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/products/dividend-swaps/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/products/fx/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/products/repo/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/products/variance-swaps/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-12/products/fx/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-12/products/repo/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/ore-1-0-39/expectations.json
  tests/pom.xml
Labels: Complexity: Small/Bug/Mapping, Category: Technical/Patch, Target: Development, Criticality: Medium/Low

#2799 [5.x.x] Remove unused files related to the CDM Portal
  .github/workflows/license-scanning.yml
  RELEASE.md
  distribution/assembly.xml
  distribution/csharp8-assembly.xml
  distribution/csharp8-pom.xml
  distribution/csharp9-assembly.xml
  distribution/csharp9-pom.xml
  distribution/daml-assembly.xml
  distribution/daml-pom.xml
  distribution/golang-assembly.xml
  distribution/golang-pom.xml
  distribution/kotlin-assembly.xml
  distribution/kotlin-pom.xml
  distribution/pom.xml
  distribution/python-assembly.xml
  distribution/python-pom.xml
  distribution/scala-assembly.xml
  distribution/scala-pom.xml
  distribution/src/main/resources/distribution-csharp8/NOTICE.txt
  distribution/src/main/resources/distribution-csharp8/README.txt
  distribution/src/main/resources/distribution-csharp9/NOTICE.txt
  distribution/src/main/resources/distribution-csharp9/README.txt
  distribution/src/main/resources/distribution-daml/NOTICE.txt
  distribution/src/main/resources/distribution-daml/README.txt
  distribution/src/main/resources/distribution-golang/NOTICE.txt
  distribution/src/main/resources/distribution-golang/README.txt
  distribution/src/main/resources/distribution-kotlin/NOTICE.txt
  distribution/src/main/resources/distribution-kotlin/README.txt
  distribution/src/main/resources/distribution-scala/NOTICE.txt
  distribution/src/main/resources/distribution-scala/README.txt
  distribution/src/main/resources/distribution-typescript/NOTICE.txt
  distribution/src/main/resources/distribution-typescript/README.txt
  distribution/src/main/resources/distribution/ISDA-CDM-License-Version-4.0.0-DEV.0.pdf
  distribution/src/main/resources/distribution/NOTICE.txt
  distribution/src/main/resources/distribution/README.txt
  distribution/src/test/java/com/regnosys/rosetta/granite/distribution/VerifyCdmDistributionCSharp8IntegrationTest.java
  distribution/src/test/java/com/regnosys/rosetta/granite/distribution/VerifyCdmDistributionCSharp9IntegrationTest.java
  distribution/src/test/java/com/regnosys/rosetta/granite/distribution/VerifyCdmDistributionDamlIntegrationTest.java
  distribution/src/test/java/com/regnosys/rosetta/granite/distribution/VerifyCdmDistributionGolangIntegrationTest.java
  distribution/src/test/java/com/regnosys/rosetta/granite/distribution/VerifyCdmDistributionIntegrationTest.java
  distribution/src/test/java/com/regnosys/rosetta/granite/distribution/VerifyCdmDistributionKotlinIntegrationTest.java
  distribution/src/test/java/com/regnosys/rosetta/granite/distribution/VerifyCdmDistributionPythonIntegrationTest.java
  distribution/src/test/java/com/regnosys/rosetta/granite/distribution/VerifyCdmDistributionScalaIntegrationTest.java
  distribution/src/test/java/com/regnosys/rosetta/granite/distribution/VerifyCdmDistributionTypeScriptIntegrationTest.java
  distribution/src/test/java/com/regnosys/rosetta/granite/distribution/VerifyFileUtils.java
  distribution/src/test/resources/logback-test.xml
  distribution/typescript-assembly.xml
  distribution/typescript-pom.xml
  pom.xml
  rosetta-source/src/main/resources/calculation-test-cases/FixedAmount/fixed-amount.json
  rosetta-source/src/main/resources/calculation-test-cases/FixedAmount/irs-swap.json
  rosetta-source/src/main/resources/calculation-test-cases/FloatingAmount/ACT_360.json
  rosetta-source/src/main/resources/cdm-sample-files/event-sequences/equity-swap/description.txt
  rosetta-source/src/main/resources/cdm-sample-files/event-sequences/equity-swap/eqs-ex01-single-underlyer-execution-long-form.xml
  rosetta-source/src/main/resources/cdm-sample-files/event-sequences/vm-csa-margin-call/contract-formation-fx-fwd.xml
  rosetta-source/src/main/resources/cdm-sample-files/event-sequences/vm-csa-margin-call/description.txt
Labels: Complexity: Small/Bug/Mapping, Category: Technical/Patch, Criticality: Medium/Low, Target: Production

#2776 Jbziade portfolio price return terms fragmos prod fix mappings
  RELEASE.md
  codefresh.yml
  rosetta-source/src/main/rosetta/mapping-fpml-confirmation-tradestate-synonym.rosetta
  rosetta-source/src/main/rosetta/mapping-ore-synonym.rosetta
  rosetta-source/src/main/rosetta/observable-asset-type.rosetta
  rosetta-source/src/main/rosetta/product-asset-type.rosetta
  rosetta-source/src/main/rosetta/product-qualification-func.rosetta
  rosetta-source/src/main/rosetta/product-template-enum.rosetta
  rosetta-source/src/main/rosetta/product-template-type.rosetta
Labels: Complexity: Minor Change, Criticality: High, Target: Production, Category: Modelling
