Repository finos/common-domain-model, pull requests merged in 2024-04, with the labels that each got.

#2836 [5.x.x] Fix commodity swap settlement type mappings
  RELEASE.md
  rosetta-source/src/main/java/cdm/product/common/settlement/processor/SettlementTypeHelper.java
  rosetta-source/src/main/java/cdm/product/common/settlement/processor/SettlementTypeMappingProcessor.java
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/incomplete-products/commodity-derivatives/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-13/incomplete-products/commodity-derivatives/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-13/processes/execution-advice/expectations.json
  rosetta-source/src/main/resources/mapping-analytics/fpml-5-10-incomplete-products-commodity-derivatives-aggregated-mapping-failure-report.csv
  rosetta-source/src/main/resources/mapping-analytics/fpml-5-10-incomplete-products-commodity-derivatives-failed-mappings-report.csv
  rosetta-source/src/main/resources/mapping-analytics/fpml-5-13-incomplete-products-commodity-derivatives-aggregated-mapping-failure-report.csv
  rosetta-source/src/main/resources/mapping-analytics/fpml-5-13-incomplete-products-commodity-derivatives-failed-mappings-report.csv
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex10-physical-oil-pipeline-crude-wti-floating-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex11-physical-oil-pipeline-heating-oil-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex12-physical-gas-europe-zbt-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex13-physical-gas-us-tw-west-texas-pool-floating-price-4-days.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex14-physical-gas-europe-ttf-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex15-physical-oil-pipeline-crude-wcs-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex16-physical-power-us-eei-floating-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex17-physical-power-uk-gtma-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex18-physical-power-us-eei-fixed-price-shaped-volume.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex20-physical-coal-us-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex21-physical-power-us-eei-fixed-price-shaped-volume-and-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex22-physical-gas-option-multiple-expiration.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex23-physical-power-option-daily-expiration-efet.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex29-physical-eu-emissions-option.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex30-physical-eu-emissions-forward.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex31-physical-us-emissions-option.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex47-physical-eu-emissions-option-pred-clearing.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex10-physical-oil-pipeline-crude-wti-floating-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex11-physical-oil-pipeline-heating-oil-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex12-physical-gas-europe-zbt-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex13-physical-gas-us-tw-west-texas-pool-floating-price-4-days.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex14-physical-gas-europe-ttf-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex15-physical-oil-pipeline-crude-wcs-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex16-physical-power-us-eei-floating-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex17-physical-power-uk-gtma-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex18-physical-power-us-eei-fixed-price-shaped-volume.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex20-physical-coal-us-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex21-physical-power-us-eei-fixed-price-shaped-volume-and-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex22-physical-gas-option-multiple-expiration.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex23-physical-power-option-daily-expiration-efet.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex29-physical-eu-emissions-option.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex30-physical-eu-emissions-forward.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex31-physical-us-emissions-option.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex47-physical-eu-emissions-option-pred-clearing.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/processes/execution-advice/msg-ex69-commodity-swap-coal-physical-leg.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/processes/execution-advice/msg-ex69-commodity-swap-electricity-physical-leg.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/processes/execution-advice/msg-ex69-commodity-swap-environmental-physical-leg.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/processes/execution-advice/msg-ex69-commodity-swap-gas-physical-leg.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/processes/execution-advice/msg-ex69-execution-advice-commodity-swap-classification-new-trade-esma-emir-refit.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/processes/execution-advice/msg-ex70-execution-advice-commodity-swap-classification-termination-esma-emir-refit.json
  rosetta-source/src/main/rosetta/mapping-fpml-confirmation-tradestate-synonym.rosetta
Labels: Complexity: Small/Bug/Mapping, Criticality: High, Target: Production, Category: Modelling

#2846 [6-dev] Commodity fwd settlement type
  RELEASE.md
  rosetta-source/src/main/java/cdm/product/common/settlement/processor/SettlementTypeHelper.java
  rosetta-source/src/main/java/cdm/product/common/settlement/processor/SettlementTypeMappingProcessor.java
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/incomplete-products/commodity-derivatives/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-13/incomplete-products/commodity-derivatives/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-13/processes/execution-advice/expectations.json
  rosetta-source/src/main/resources/mapping-analytics/fpml-5-10-incomplete-products-commodity-derivatives-aggregated-mapping-failure-report.csv
  rosetta-source/src/main/resources/mapping-analytics/fpml-5-10-incomplete-products-commodity-derivatives-failed-mappings-report.csv
  rosetta-source/src/main/resources/mapping-analytics/fpml-5-13-incomplete-products-commodity-derivatives-aggregated-mapping-failure-report.csv
  rosetta-source/src/main/resources/mapping-analytics/fpml-5-13-incomplete-products-commodity-derivatives-failed-mappings-report.csv
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex10-physical-oil-pipeline-crude-wti-floating-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex11-physical-oil-pipeline-heating-oil-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex12-physical-gas-europe-zbt-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex13-physical-gas-us-tw-west-texas-pool-floating-price-4-days.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex14-physical-gas-europe-ttf-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex15-physical-oil-pipeline-crude-wcs-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex16-physical-power-us-eei-floating-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex17-physical-power-uk-gtma-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex18-physical-power-us-eei-fixed-price-shaped-volume.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex20-physical-coal-us-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex21-physical-power-us-eei-fixed-price-shaped-volume-and-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex22-physical-gas-option-multiple-expiration.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex23-physical-power-option-daily-expiration-efet.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex29-physical-eu-emissions-option.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex30-physical-eu-emissions-forward.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex31-physical-us-emissions-option.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/commodity-derivatives/com-ex47-physical-eu-emissions-option-pred-clearing.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex10-physical-oil-pipeline-crude-wti-floating-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex11-physical-oil-pipeline-heating-oil-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex12-physical-gas-europe-zbt-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex13-physical-gas-us-tw-west-texas-pool-floating-price-4-days.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex14-physical-gas-europe-ttf-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex15-physical-oil-pipeline-crude-wcs-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex16-physical-power-us-eei-floating-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex17-physical-power-uk-gtma-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex18-physical-power-us-eei-fixed-price-shaped-volume.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex20-physical-coal-us-fixed-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex21-physical-power-us-eei-fixed-price-shaped-volume-and-price.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex22-physical-gas-option-multiple-expiration.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex23-physical-power-option-daily-expiration-efet.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex29-physical-eu-emissions-option.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex30-physical-eu-emissions-forward.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex31-physical-us-emissions-option.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/incomplete-products/commodity-derivatives/com-ex47-physical-eu-emissions-option-pred-clearing.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/processes/execution-advice/msg-ex69-commodity-swap-coal-physical-leg.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/processes/execution-advice/msg-ex69-commodity-swap-electricity-physical-leg.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/processes/execution-advice/msg-ex69-commodity-swap-environmental-physical-leg.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/processes/execution-advice/msg-ex69-commodity-swap-gas-physical-leg.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/processes/execution-advice/msg-ex69-execution-advice-commodity-swap-classification-new-trade-esma-emir-refit.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/processes/execution-advice/msg-ex70-execution-advice-commodity-swap-classification-termination-esma-emir-refit.json
  rosetta-source/src/main/rosetta/mapping-fpml-confirmation-tradestate-synonym.rosetta
Labels: Complexity: Small/Bug/Mapping, Criticality: High, Target: Development, Category: Modelling

#2851 Manuel Carrera CDM Qualification of Bond Options and Forwards DEV- release
  RELEASE.md
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/incomplete-products/bond-options/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-10/products/rates/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-12/products/rates/expectations.json
  rosetta-source/src/main/resources/cdm-sample-files/fpml-5-13/products/bond-options/expectations.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/bond-options/bond-option.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/bond-options/cb-option-2.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/incomplete-products/bond-options/cb-option.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/products/rates/bond-fwd-generic-ex01.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/products/rates/bond-fwd-generic-ex02.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/products/rates/bond-option-uti.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-10/products/rates/cb-option-usi.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-12/products/rates/bond-option.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-12/products/rates/cb-option-2.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/products/bond-options/bond-option.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/products/bond-options/cb-option-2.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/products/bond-options/cb-option-ois.json
  rosetta-source/src/main/resources/result-json-files/fpml-5-13/products/bond-options/cb-option.json
  rosetta-source/src/main/rosetta/product-qualification-func.rosetta
Labels: Complexity: Small/Bug/Mapping, Target: Development, Criticality: Medium/Low, Category: Modelling

#2862 [5.x.x] STORY-3262 AssetClass qualification fix
  RELEASE.md
  rosetta-source/src/main/rosetta/product-qualification-func.rosetta
  rosetta-source/src/test/java/cdm/product/qualification/functions/Qualify_AssetClass_CreditTest.java
  rosetta-source/src/test/java/cdm/product/qualification/functions/Qualify_AssetClass_ForeignExchangeTest.java
Labels: Complexity: Small/Bug/Mapping, Criticality: High, Target: Production, Category: Modelling

#2864 [6-dev] STORY-3262 AssetClass qualification fix
  RELEASE.md
  rosetta-source/src/main/rosetta/product-qualification-func.rosetta
  rosetta-source/src/test/java/cdm/product/qualification/functions/Qualify_AssetClass_CreditTest.java
  rosetta-source/src/test/java/cdm/product/qualification/functions/Qualify_AssetClass_ForeignExchangeTest.java
Labels: Complexity: Small/Bug/Mapping, Criticality: High, Target: Development, Category: Modelling

#2865 Update Governance.md
  GOVERNANCE.md
Labels: Category: Documentation

#2866 Manuel Carrera CDM FX NDS dev
  RELEASE.md
  rosetta-source/src/main/rosetta/product-qualification-func.rosetta
Labels: Rosetta

#2867 Manuel Carrera CDM FX NDS prod
  RELEASE.md
  rosetta-source/src/main/rosetta/product-qualification-func.rosetta
Labels: Rosetta

#2856 Roger Guitart TRS on a bond - PROD
  RELEASE.md
  rosetta-source/src/main/rosetta/product-qualification-func.rosetta
Labels: Rosetta

#2872 Chris Rayner Add new enum to AvailableInventory
  RELEASE.md
  rosetta-source/src/main/rosetta/event-position-enum.rosetta
  rosetta-source/src/main/rosetta/event-position-type.rosetta
Labels: Complexity: Minor Change, Target: Development, Criticality: Medium/Low, Category: Modelling

#2855 Roger Guitart TRS on a Bond
  RELEASE.md
  rosetta-source/src/main/rosetta/product-qualification-func.rosetta
Labels: Rosetta

#2875 [5.x.x] Changes to utilize the new Python code generator (v2)
  RELEASE.md
  codefresh.yml
  pom.xml
  rosetta-source/pom.xml
  rosetta-source/src/test/python/__init__.py
  rosetta-source/src/test/python/run_tests.sh
  rosetta-source/src/test/python/semantics/test_cardinality.py
  rosetta-source/src/test/python/semantics/test_conditions.py
  rosetta-source/src/test/python/semantics/test_if_cond.py
  rosetta-source/src/test/python/semantics/test_local_conditions.py
  rosetta-source/src/test/python/semantics/test_pydantic_simple.py
  rosetta-source/src/test/python/semantics/test_validation.py
  rosetta-source/src/test/python/serialization/__init__.py
  rosetta-source/src/test/python/serialization/cdm_comparison_test.py
  rosetta-source/src/test/python/serialization/dict_comp.py
  rosetta-source/src/test/python/serialization/test_trade_state_product.py
  rosetta-source/src/test/python/src/com/rosetta/test/model/Foo.py
  rosetta-source/src/test/python/test_class_member_access_operator.py
  rosetta-source/src/test/python/test_helpers/__init__.py
  rosetta-source/src/test/python/test_helpers/config.py
Labels: Rosetta
