Repository finos/common-domain-model, pull requests merged in 2025-03, with the labels that each got.

#3492 CDM Documentation - Remove old roadmap references
  SCOPE.md
  docs/roadmap.mdx
  website/versioned_docs/version-5.13.0/CDM-Collateral-WG.md
  website/versioned_docs/version-5.13.0/CDM-Contribution-Review-WG.md
  website/versioned_docs/version-5.13.0/CDM-Steering-WG.md
  website/versioned_docs/version-5.13.0/CDM-Technology-Architecture-WG.md
  website/versioned_docs/version-5.20.0/CDM-Collateral-WG.md
  website/versioned_docs/version-5.20.0/CDM-Contribution-Review-WG.md
  website/versioned_docs/version-5.20.0/CDM-Steering-WG.md
  website/versioned_docs/version-5.20.0/CDM-Technology-Architecture-WG.md
  website/versioned_docs/version-6.0.0/CDM-Collateral-WG.md
  website/versioned_docs/version-6.0.0/CDM-Contribution-Review-WG.md
  website/versioned_docs/version-6.0.0/CDM-Steering-WG.md
  website/versioned_docs/version-6.0.0/CDM-Technology-Architecture-WG.md
Labels: Category: Documentation

#3498 CDM Documentation - Contributing file linked from editing and CRWG in all versions
  docs/CDM-Contribution-Review-WG.md
  docs/editing.md
  website/versioned_docs/version-5.13.0/CDM-Contribution-Review-WG.md
  website/versioned_docs/version-5.13.0/editing.md
  website/versioned_docs/version-5.20.0/CDM-Contribution-Review-WG.md
  website/versioned_docs/version-5.20.0/editing.md
  website/versioned_docs/version-6.0.0/CDM-Contribution-Review-WG.md
  website/versioned_docs/version-6.0.0/editing.md
Labels: Category: Documentation

#3513 Lionel Smith-Gordon Deprecate EligibleCollateralSpecificInstruction
  RELEASE.md
  rosetta-source/src/main/rosetta/product-collateral-type.rosetta
Labels: Rosetta

#3515 Lionel Smith-Gordon Remove-EligibleCollateralSpecificInstruction
  RELEASE.md
  rosetta-source/src/main/rosetta/product-collateral-type.rosetta
Labels: Rosetta

#3540 Vineet Kumar Product Qualification Functions - Contribution for Equity Products - Update to enhances existing product qualification functions
  RELEASE.md
  rosetta-source/src/main/rosetta/product-qualification-func.rosetta
Labels: Rosetta

#3593 Update README.md link
  README.md
Labels: documentation
