Repository finos/common-domain-model, pull requests merged in 2025-01, with the labels that each got.

#3294 Simon Cockx Fix cardinality errors
  RELEASE.md
  rosetta-source/src/main/resources/cdm-sample-files/functions/sec-lending/full-return-settlement-workflow-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/sec-lending/new-settlement-workflow-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/sec-lending/part-return-settlement-workflow-func-output.json
  rosetta-source/src/main/rosetta/event-common-func.rosetta
  rosetta-source/src/main/rosetta/event-common-type.rosetta
  rosetta-source/src/main/rosetta/event-qualification-func.rosetta
  rosetta-source/src/main/rosetta/product-collateral-func.rosetta
  rosetta-source/src/main/rosetta/product-qualification-func.rosetta
  rosetta-source/src/main/rosetta/product-template-type.rosetta
Labels: Rosetta

#3295 Simon Cockx Fix cardinality errors
  RELEASE.md
  rosetta-source/src/main/resources/cdm-sample-files/functions/sec-lending/full-return-settlement-workflow-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/sec-lending/new-settlement-workflow-func-output.json
  rosetta-source/src/main/resources/cdm-sample-files/functions/sec-lending/part-return-settlement-workflow-func-output.json
  rosetta-source/src/main/resources/mapping-analytics/fpml-5-10-products-rates-failed-mappings-report.csv
  rosetta-source/src/main/rosetta/event-common-func.rosetta
  rosetta-source/src/main/rosetta/event-qualification-func.rosetta
  rosetta-source/src/main/rosetta/product-collateral-func.rosetta
  rosetta-source/src/main/rosetta/product-qualification-func.rosetta
Labels: Rosetta

#3321 Oscar Twomey Uncommented asset & index in CollateralCriteria
  RELEASE.md
  docs/eligible-collateral-representation.md
  rosetta-source/src/main/rosetta/product-collateral-type.rosetta
Labels: Rosetta

#3326 Lionel Smith-Gordon ECS-cardinality-fixes
  RELEASE.md
  rosetta-source/src/main/rosetta/product-collateral-type.rosetta
Labels: Complexity: Small/Bug/Mapping, Rosetta, Target: Development

#3330 add documentations for 5.20.0
  website/versioned_docs/version-5.20.0/CDM-Collateral-WG.md
  website/versioned_docs/version-5.20.0/CDM-Contribution-Review-WG.md
  website/versioned_docs/version-5.20.0/CDM-Derivatives-Product-and-Business-Event-WG.md
  website/versioned_docs/version-5.20.0/CDM-Steering-WG.md
  website/versioned_docs/version-5.20.0/CDM-Structured-Products-WG.md
  website/versioned_docs/version-5.20.0/CDM-Technology-Architecture-WG.md
  website/versioned_docs/version-5.20.0/cdm-demos.md
  website/versioned_docs/version-5.20.0/cdm-guidelines.md
  website/versioned_docs/version-5.20.0/cdm-materials.md
  website/versioned_docs/version-5.20.0/cdm-overview.md
  website/versioned_docs/version-5.20.0/code-snippets/ContractualProduct.snippet
  website/versioned_docs/version-5.20.0/code-snippets/Product.snippet
  website/versioned_docs/version-5.20.0/code-snippets/fixed-term-fixed-rate-repo-product.json
  website/versioned_docs/version-5.20.0/common-domain-model.md
  website/versioned_docs/version-5.20.0/contribution.md
  website/versioned_docs/version-5.20.0/download.md
  website/versioned_docs/version-5.20.0/eligible-collateral-representation.md
  website/versioned_docs/version-5.20.0/event-model.md
  website/versioned_docs/version-5.20.0/get-involved.md
  website/versioned_docs/version-5.20.0/home.mdx
  website/versioned_docs/version-5.20.0/legal-agreements.md
  website/versioned_docs/version-5.20.0/links-template.md
  website/versioned_docs/version-5.20.0/mapping.md
  website/versioned_docs/version-5.20.0/namespace.md
  website/versioned_docs/version-5.20.0/pre-trade-processing.md
  website/versioned_docs/version-5.20.0/process-model.md
  website/versioned_docs/version-5.20.0/product-model.md
  website/versioned_docs/version-5.20.0/reference-data-model.md
  website/versioned_docs/version-5.20.0/repurchase-agreement-representation.md
  website/versioned_docs/version-5.20.0/roadmap.mdx
  website/versioned_docs/version-5.20.0/securities-lending.md
  website/versioned_docs/version-5.20.0/standardized-functions.md
  website/versioned_docs/version-5.20.0/team.mdx
  website/versioned_docs/version-5.20.0/training.md
  website/versioned_docs/version-5.20.0/use-cases.md
  website/versioned_sidebars/version-5.20.0-sidebars.json
  website/versions.json
Labels: Category: Documentation

#3320 CDM 6 documentation updates
  docs/product-model.md
  website/static/img/ART-asset.png
  website/static/img/ART-complete.png
  website/static/img/ART-index.png
  website/static/img/ART-observable.png
  website/static/img/ART-payout.png
  website/static/img/ART-product.png
  website/static/img/ART-settlement.png
  website/static/img/ART-trade.png
  website/static/img/ART-transferable.png
  website/static/img/ARTasset.png
  website/static/img/ARTcomplete.png
  website/static/img/ARTindex.png
  website/static/img/ARTobservable.png
  website/static/img/ARTpayout.png
  website/static/img/ARTproduct.png
  website/static/img/ARTsettlement.png
  website/static/img/ARTtrade.png
  website/static/img/ARTtransferable.png
Labels: Category: Documentation

#3313 Release Notes for 6 prod
  RELEASE.md
Labels: Category: Documentation
